.login__container {
  box-shadow: 0 0 10px #9992, 0 0 5px lightcoral;
  text-align: center;
  font-size: 27px;
  padding: 7px;
  margin: 20px;
  border-radius: 9px;

  max-width: 350px;
}
.welcome__container {
  background-color: #9992;
  color: grey;
  padding: 20px 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login__h3 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 0 0 1px white;
  color: lightcoral;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.loginForm__container {
  background-color: #9992;
  margin-top: 12px;
  border-radius: 8px;
}
.signinUpMessage {
  position: absolute;
  top: 10vh;
  left: 0;
  background-color: #7779;
  width: 100vw;
  height: 120vh;
  color: #111;
  text-shadow: 0 0 1px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
  padding: 50px;
}
.signinUpMessage em {
  color: #333;
}
