.wrapper-cart {
  color: black;
  background-color: lightsalmon;

  width: 360px;

  height: 100vh;
  padding: 25px 15px;

  border-left: 2px solid black;

  position: fixed;
  top: 0;
  right: 0;

  z-index: 100;

  transition: 0.25s;
  transform: translateX(0);

  overflow-y: scroll;
}
.wrapper-cart--hidden {
  transform: translateX(360px);
}
.wrapper-cart aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-size: 13px;
}
.wrapper-cart .bx-x-circle {
  color: #333;
  font-size: 40px;
  transition: 0.25s;
}
.wrapper-cart .bx-x-circle:hover {
  color: black;
  transform: scale(1.1);
}
.wrapper-cart ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  margin: 25px 0;
}
