.wrapper-cart {
  color: black;
  background-color: lightcoral;

  width: 360px;

  height: 100%;
  padding: 15px;

  border-left: 2px solid black;

  position: fixed;
  top: 48px;
  right: 0;

  z-index: 0;

  transition: 0.25s;
  transform: translateX(0);

  overflow-y: scroll;
}
.wrapper-cart--hidden {
  transform: translateX(360px);
}
.wrapper-cart aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-size: 13px;
}
.wrapper-cart ul {
  list-style: none;

  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
