.cartProduct__container {
  background-color: #1118;
  color: lightblue;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.cartProduct__imageContainer {
  position: relative;
}
.cartProduct__trashButton {
  position: absolute;
  top: 0;
  right: 0;

  padding: 3px;

  font-size: 45px;
  background: #222;
  border: transparent;
  color: crimson;

  border-bottom-left-radius: 20px;

  transition: 0.25s;
}
.cartProduct__trashButton:hover {
  padding: 5px;
  cursor: pointer;
}
.bx-trash {
  opacity: 0.5;
}
.cartProductHeader {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightcoral;
}
.cartProductTitle {
  color: lightblue;
  font-style: italic;
  text-shadow: 0 0 1px #999;
  font-weight: 700;
  letter-spacing: 1.5px;
}
.cartProduct__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

  box-shadow: 0px 2px 1px lightcoral;
  position: relative;
}
.updateCart__button {
  position: absolute;
  bottom: 4px;
  left: 20px;
  padding: 5px;

  background-color: limegreen;
  border: transparent;
  border-radius: 3px;

  font-weight: bold;
  text-shadow: 0 0 1px white;

  cursor: pointer;
  transition: 0.25s;
}
.updateCart__button:hover {
  transform: translateY(-1px);
  box-shadow: 0 2px 1px green;
}
.cartProductButtons {
  background-color: #444;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 4px;
}
.cartProductButton {
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  border-radius: 7px;
  border: 1px solid #111;
  font-size: 37px;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  cursor: pointer;
  transition: 0.25s;
}
.cartProductButton:hover {
  transform: scale(0.98);
  box-shadow: 0 0 2px black;
}
.cartProduct__quantity {
  background-color: #222;
  text-shadow: 0 0 1px white;
  width: 35px;
  height: 35px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes fade-in {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(4px);
  }
}
.isLoading {
  transition: 0.25s;
  color: #444;
  background-color: #999;
  animation: fade-in 1s;
}
.isLoading:hover {
  box-shadow: 0 2px 1px #999;
}
