.home__container {
  max-width: 100vw;
  margin-top: 10vh;
}
.home__container aside {
  background-color: #222;
  position: fixed;
  left: 0;
  bottom: -230px;
  width: 100%;
  color: lightblue;
  font-size: 40px;
  border-top: 1px solid lightblue;
  box-shadow: 0 0 4px lightblue;

  transition: 0.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home__container aside:hover {
  bottom: 0px;
  z-index: 100;
}
.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productsContainer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.homeSearchInput {
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  border-radius: 7px;
}
