.navBar {
  background-color: #222;
  opacity: 0.9;
  border-bottom: solid 1px lightcoral;
  box-shadow: 0 0 10px lightcoral;

  display: flex;
  width: 100%;
  height: 10vh;
  padding: 3px;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
}
.navBar_navLink {
  text-decoration: none;
  padding: 0 7px;
  color: lightblue;
  font-size: 25px;
}
.navBar_h2 {
  color: lightcoral;
  text-shadow: 0 0 2px #111, 0 0 2px crimson;
}
.navButton {
  background-color: transparent;
  border: transparent;
  padding: 0 7px;
  color: lightcoral;
  font-size: 42px;
  cursor: pointer;
  transition: 0.25s;
}
.bx-shopping-bag,
.bx-user {
  font-size: 40px;
  transition: 0.25s;
}
.login:hover,
.bx-shopping-bag:hover,
.bx-user:hover {
  transform: scale(1.05);
  color: limegreen;
  text-shadow: 0 0 10px #111;
}
.logout:hover {
  transform: scale(0.95);
  color: crimson;
  text-shadow: 0 0 10px #111;
}
